.intro {
  background: url("../img/intro-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sm-d {
    background: url("../img/intro-bg-mob.png") no-repeat;
    background-size: cover;
  }
  @include md-d {
    margin-top: 54px;
    height: calc(100vh - 54px);
  }
  &__title {
    text-transform: uppercase;

    color: #ffffff;
    position: relative;
    z-index: 2;
    @include md-d {
      text-align: center;
    }
  }
  &__btn {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 74px;
    @include md-d {
      bottom: 115px;
    }
  }
  &__img {
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
    animation-timing-function: linear;
    @include md-d {
      display: none;
    }
    img {
      position: absolute;
      z-index: 1;
    }
    &--one {
      left: 260;
      bottom: 160px;
      animation-name: dog-one;
      animation-duration: 10s;
    }
    &--two {
      top: 110px;
      right: 300px;
      animation-name: dog-two;
      animation-duration: 15s;
    }
    &--three {
      top: 185px;
      left: 190px;
      animation-name: bones-three;
      animation-duration: 18s;
    }
    &--four {
      bottom: 150px;
      right: 380px;
      animation-name: bones-four;
      animation-duration: 8s;
    }
  }
  @keyframes dog-one {
    0% {
      left: 260px;
      bottom: 160px;
    }
    50% {
      left: 400px;
      bottom: 400px;
    }
    100% {
      left: 200px;
      bottom: 600px;
    }
  }
  @keyframes dog-two {
    0% {
      top: 110px;
      right: 300px;
    }
    50% {
      top: 320px;
      right: 400px;
    }
    100% {
      top: 200px;
      right: 800px;
    }
  }
  @keyframes bones-three {
    0% {
      top: 185px;
      left: 190px;
    }
    50% {
      top: 90px;
      left: 190px;
    }
    100% {
      top: 400px;
      left: 400px;
    }
  }
  @keyframes bones-four {
    0% {
      bottom: 150px;
      right: 380px;
    }
    50% {
      bottom: 120px;
      right: 300px;
    }
    100% {
      bottom: 300px;
      right: 600px;
    }
  }
}
